@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
}

.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: -1;
    width: 1px;
    height: 1px;
    overflow: hidden;
    visibility: hidden;
}

body {
    margin: 0 auto;
    padding: 0 2em;
    font-size: 16px;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.portfolio-title {
    text-align: center;
    padding: 6em 0;
}

.portfolio-title h1 {
    text-shadow: 0.075em 0.075em 0em rgba(0, 0, 0, 0.1);
    font-size: 3em;
    margin-bottom: 0.5em;
}

#nav-menu {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

#nav-menu ul {
    text-align: center;
    padding: 15px 0;
}

.nav-menu-item {
    display: inline-block
}

.nav-menu-item button,
.nav-menu-item a {
    font-size: 1em;
    padding: 0.6em 3em;
    color: #1D2326;
}

.nav-menu-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-menu-item.selected button,
.nav-menu-item.selected button:hover {
    background-color: #BF1120;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 400;
}

.nav-menu-item button:hover,
.nav-menu-item a:hover {
    color: #BF1120;
    font-weight: 700;
}

.nav-menu-item button:active,
.nav-menu-item button:focus,
.nav-menu-item button:visited {
    outline: 0;
}

.contents {
    padding: 5em 25%;
}

.contents-card {
    margin-bottom: 50px;
}

.contents-header {
    font-size: 1.7em;
    padding: 1em 0;
    margin-bottom: 15px;
}

.contents-data > p {
    margin-bottom: 25px;
}

.contents-data > p > i {
    width: 20px;
}

.skill-list-item {
    display: inline-block;
    width: 10em;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.skill-list-item .logo {
    display: block;
    height: 2.5em;
    margin: 0 auto;
}

.career-list-item > p {
    margin-bottom: 5px;
}
